@CHARSET "ISO-8859-1";
body, html{
     height: 100%;
 	background-repeat: no-repeat;
 	background-image: url("../images/deep.png");
 	font-family: 'Oxygen', sans-serif;
	    background-size: cover;
	    background-attachment: fixed;

}
